[Desktop Entry]
# CIFEN Mounter
# The format of this file is specified at
# http://freedesktop.org/Standards/desktop-entry-spec
# The entries are in the order they are listed in version 1.0
Type=Application
Version=1.0
Name=CIFEN Mounter
GenericName=cifenmnt
Comment=GUI for the CIFEN Mounter Tool
Icon=/usr/share/icons/cifen/cifendisk.svg
Exec=/usr/local/bin/cifen_mounter.py
Terminal=false
# Categorie entry according to version 1.0 of
# http://www.freedesktop.org/wiki/Specifications/menu-spec
Categories=Disk Imaging
