#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.0
Name=Siegfried
GenericName=Siegfried
Comment=Siegfried command-line
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-siegfried.sh
Categories=File Format ID
